/* ----- helpers ----- */

.combine {
  -moz-text-combine-upright: digit 2;
  -ms-text-combine-horizontal: digit 2;
  text-combine-upright: digit 2;
}

.underline-position{
  -webkit-text-underline-position: right;
  -moz-text-underline-position: right;
  -ms-text-underline-position: right;
  text-underline-position: right;
}


/* ----- page classes ----- */

.quiz {
  composes: combine;
  composes: underline-position;

  writing-mode: vertical-rl;
  font-family:
    /* Latin: Garamond */
    Garamond,

    /* Latin fallbacks */
    "EB Garamond",
    "Cormorant Garamond",

    /* Japanese: Yu Mincho */
    "Yu Mincho", "YuMincho",

    /* Japanese fallbacks */
    "Hiragino Mincho ProN",
    "Sawarabi Mincho",
    Meiryo,
    "MS Mincho",
    serif;

  & > ol {
    list-style-type: cjk-ideographic;
  }

  @media print {
    transform-origin: 0 0;
    transform: rotate(-90deg) translateX(-100%);
  }

  @media (-webkit-min-device-pixel-ratio: 0) {
    /**
     * Chrome renders overlines at the right in vertical mode,
     * while Firefox renders underlines at the right.
     * https://tategaki.github.io/commentaries/2015/11/10/commentary-text-decotrations.html
     */
    & u {
      text-decoration: overline;
    }
  }
}

.pageBreak {
  @media print {
    visibility: visible;
  }
}
